.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
conjunction_analysis.Rproj
README.Rmd
new_op_sats_calc.R
prediction_exercise.Rmd
prediction_exercise.html
prediction_exercise.pdf
README.Rmd
new_op_sats_calc.R
all_conjs_new_2016
all_conjs_new_2016.rds